@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');
@import url(//fonts.googleapis.com/css?family=Lato:300:400);
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');
body {  background: linear-gradient(60deg, rgb(110, 74, 253) 0%, rgb(20, 207, 232) 100%);}
ul{list-style: none;}


.documents-list {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0;
  margin: 0;
  background-color: #fff; /* Цвет фона списка */
  border: 1px solid #ccc; /* Граница списка */
  border-radius: 5px; /* Скругление углов списка */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень списка */
}

.documents-list-item {
  padding: 10px; /* Отступы внутри элементов списка */
  border-bottom: 1px solid #eee; /* Подчеркивание между элементами */
}

.documents-list-item a {
  text-decoration: none;
  color: #060c12;
  font-weight: bold; /* Жирный текст для ссылок */
}

.documents-list-item a:hover {
  text-decoration: underline;
}
.upload-link {
  text-decoration: none; /* Убираем подчеркивание у ссылки */
}

.upload-button {
  padding: 10px 20px; /* Размеры кнопки */
  background-color: #007bff; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  border: none; /* Убираем границу кнопки */
  border-radius: 5px; /* Скругление углов кнопки */
  cursor: pointer; /* Указатель мыши при наведении на кнопку */
  transition: background-color 0.3s; /* Плавное изменение цвета фона при наведении */
}

.upload-button:hover {
  background-color: #0056b3; /* Изменение цвета фона при наведении */
}


.alert-light{width: 90%;
  
  height: 400px;
  display:inline-block;
  max-width: 396px;
  overflow: hidden;
  margin-left: 5%;
background: #fbfbfb;
padding-left: -3%;
border-radius:18px ;
margin-bottom: 40px;
/* margin-top: 50px; */
-webkit-box-shadow: 1px 17px 22px -16px rgba(163, 247, 255, 1);
-moz-box-shadow: 1px 17px 22px -16px rgba(163, 247, 255, 1);
box-shadow: 7px 17px 22px -16px rgba(163, 247, 255, 1);
} 

.alert-light h4{ font-weight: 400;
margin-top: -49px;

}
@media(min-width: 500px){
  .alert-light{
    width: 46%;
    display:inline-block;
    margin-left: -4%;
    margin-right: 6%;
  }}
.alert-light:hover{box-shadow: 0px 0px 23px 16px rgb(135, 186, 225);}
.malert-light{width: 100%;
padding-top: -20px;
  padding: 2px;
    margin-left: 1%;
  background: #fbfbfb;
  border-radius: 5px;
 
  padding-bottom: -13px;
  margin-bottom: 80px;
  border:solid silver 1px;
  margin-top: -50px;
  box-shadow: 0px 0px 6px 4px rgb(135, 186, 225);} 
  @media(min-width: 500px){
    .malert-light{
      width: 90%;
     
      margin-left: -4%;
      margin-right: 6%;
      padding: 20px;
    }
    .malert-light .n_img{width: 80%;
    margin-left: 10%;
    
  }}
  .malert-light p{
    margin-top: 15px;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: 400;
  }
  .malert-light h4{font-weight: 400;}
  .alert-light a{
    color: black;
  }
  .malert-light img{
    margin-top: 0px;
  }

  .forme input, .forme textarea {
    display: block;
    width: 96%;
    margin-top: 5px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 2%;
  }



p{font-weight: 400;}
.form{margin-left: 6%;}
.form-control {
  width: 88%;}
.forme input{
display: block;
width: 88%;
height: 40px;
margin-top: 5px;
border:1px solid silver;
padding: 2%

}
a{
  text-decoration: none;}
.nav-link:hover{
  color: rgb(219, 214, 214)}

.img{
  border-radius: 50%;
  margin-left: 36%;

}
.email{
  margin-left: 18%;
}
.esim{
  margin-left: 40%;
}

li{
  margin-left:35px;
}
.nav-link{color: rgb(0, 0, 0);
}
.nav-img{
  display: inline-block;
margin-right: 29px;
  margin-left: -34px;
  margin-bottom: -16px;
}
.nav-rege{
  position:absolute;
  right: 95px;
  top: 12px;}
.nav-reg{
    position:absolute;
    right: 20px;
    top: 12px;

}
.butn-reg{padding:4px;
border: 1px solid rgb(76, 215, 231) ;
border-radius: 4px;
color: rgb(76, 215, 231) ;
background: none;
position:sticky
}
.butn-reg:hover{background: rgb(76, 215, 231) ;
color:black}
.butn-rege{padding:4px;
  border: 1px solid rgb(231, 216, 76) ;
  border-radius: 4px;
  color: rgb(231, 216, 76) ;
  background: none;
  }
  .butn-rege:hover{background: rgb(231, 216, 76) ;
  color:black}
.nav-item{margin-right: 6%;
margin-right: 30px;
  text-decoration: none;
  display: inline-block;

}
@media(max-width: 500px){
.nav-item{margin-right: 6%;
 margin-left: -12%;
    text-decoration: none;
    display: inline-block;
   
  }
}
.us_img{
  width: 13%;
  height:100%;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 5px;
  resize:vertical 70px;
}

.boxer{margin-bottom: -35%;
width: 100%;

height: 100%;

}
.col-md-4{
  margin-left: 0px;
}
.rov li{
 display: inline-block;
}
.titx{
  margin-left: 15px;
}
.titx p{margin-bottom: 6px;}
.il{margin-top: -10px;}
.il span{font-size: 12px;
margin-top: -35px;
}

.il p{margin-top: -24px;
  margin-left: 50px;
  font-size: 12px;}
s{ margin-left: 30px;}
.mt-2{
  
  
  margin-top: 10px;
  font-size: 12px;
}
.t_img{
  
    /* transform:translate(-0%,-20%); */

    height: 50%;
  width: 100%;
 margin-bottom: 50px;
  }
.n_img{
    width: 100%;
    margin-top: -12px;
  
}
.iz{
  width: 100%;
  height: 40px;
  position:sticky;
  top: 0px;
  opacity: 1;
  background: #fff;
  border: solid 1px silver;
  display:inline-block;
  margin-bottom: 15px;
 
  justify-content: space-between;
  align-items: center;
 
}  
.container-fluid{position: relative;}
.is{
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0px;
  opacity: 1;
 

  display:inline-block;

 
  justify-content: space-between;
  align-items: center;
 
}
@media(max-width: 500px){ 
.pro .ul{


  transform: translate(-50%, -50%);
  margin:0;
  padding: 0;
  display: flex;  

  margin-left: 33%;
}

.pro .ul .li{
  list-style: none;
  margin: 0 40px;
}

.pro .ul .li a .fa{
  font-size: 190%;
  color: #262626;
  line-height: 195%;
  transition: .5s;
}
.pro .ul .li a{
  position: relative;
  display: block;
  width:205%;
  height:95%;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}}


.ul{
  /* position: absolute;
  top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display:flex;  
  margin-bottom: 350px;
  margin-left: 35%;
}

.ul .li{
  list-style: none;
  margin: 0 40px;
}

.ul .li a .fa{
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: .5s;
}
.ul .li a{
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
.pro .ul .li a:before{
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transition: .5s;
  transform: rotate(0deg) skewY(-45deg)
}
.pro .ul .li a:after{
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transition: .5s;
  transform: rotate(0deg) skewX(-45deg)
}
.pro .ul .li:hover .fa{
  color: #fff;
}

.pro .ul .li a:hover{

  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

.pro .ul .li:hover:nth-child(1) a{
  background: #48b5d6;
}
.ul .li:hover:nth-child(1) a:before{
  background: #3b97b4;
}
.ul .li:hover:nth-child(1) a:after{
  background: #6cc3dd;
}




.ul .li:hover:nth-child(2) a{
  background: #006400;
}
.ul .li:hover:nth-child(2) a:before{
  background: #015101;
}
.ul .li:hover:nth-child(2) a:after{
  background: #098609;
}


.ul .li:hover:nth-child(3) a{
  background: #e4405f;
}
.ul .li:hover:nth-child(3) a:before{
  background: #d02d4c;
}
.ul .li:hover:nth-child(3) a:after{
  background: #f1395c;
}

.pro{
height: 100%;
width: 100%;

margin-bottom: 150px;
}


