{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
{{title}}
{%endblock%}
    {% block coontent %}
    <h1>Список документов</h1>
    <ul class="documents-list"> 
    {% for document in documents %}
        <li class="documents-list-item"><a href="{{ document.d_doc.url }}">{{ document.d_naz }}</a></li> <!-- Добавляем класс "documents-list-item" к элементам списка -->
    {% endfor %}
    </ul>

    {% if not user.is_authenticated%}
    
    {%else%}
    <a class="upload-link" href="{% url 'upload' %}">
        <button class="upload-button" type="submit">Добавить файл</button>
    </a>
        
          
              {%endif%}
{%endblock%}
{% block aside_block %}
<aside class="col-md-4">
    <!-- Новость про демократию мира -->
    <div class="aside-item">
        <h3>Демократия мира</h3>
        <p>
            <a href="https://example.com/democracy" backgroun-color=white target="_blank">
                Последние новости о демократии в мире
            
        </p>
        <img src="{% static 'images/democ.webp' %}" class="img-thumbnail" alt="Демократия мира" style="border: 2px solid blue;">
    </div></a>
    
    <!-- Новость про технологии -->
    <div class="aside-item">
        <h3>Технологии</h3>
        <p>
            <a href="https://example.com/technology" target="_blank">
                Новейшие достижения в технологиях
           
        </p>
        <img src="{% static 'images/teckh.jpeg' %}" class="img-thumbnail" alt="Технологии" style="border: 2px solid green;">
    </div> </a>
    
   
</aside>
{% endblock %}