
{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
{{title}}
{%endblock%}
<ul>
    {% block coontent %}
    {% for post in news %}  


    <li class='alert-light'>
        <a href="{% url 'news-detail' post.id %}" >
           
            
        <div class='boxer'>
               <img src="{{post.poto.url}}"  alt="{{post.avtor}}" class='t_img' >
            
            <div class='titx' >
                <h4 align='center'>{{post.title}}</h3>
                 <p class="text_h" >{{post.text|striptags|truncatechars:90}}</p>
                <div class='row'> 
                    <div class='rov'>
                        <div class='il'>
                            <img src="{{post.adam.profil.img.url}}" alt="{{post.avtor}}" class='us_img'>
                        {% comment %} </div>
                        <div class='mt-2'>  {% endcomment %}
                           <span class='text-muted'>data:</b>{{post.time}}</span>
                             {%if post.adam%}
                             <p><b>avtor:</b><mark>{{post.adam}}</mark></p>
                              {%else%}
                              <p><b>avtor:</b><mark>admin</mark></p>
                                    {%endif%}
                                    
                        </div>
              
            
                          
                    </ul>
                </div>

            </div>
        </div> 
</a>
    </li>
  
  

  
    {%endfor%}
  
{%endblock%}

</ul>  
{% block aside_block %}
<aside class="col-md-4">
    <!-- Новость про демократию мира -->
    <div class="aside-item">
        <h3>Учеба</h3>
        <p>
            <a href="https://moodle.astanait.edu.kz/pluginfile.php/24480/block_html/content/Bachelor%201st%20year.pdf" backgroun-color=white target="_blank">
                Студенты 1 курса получают степень бакалавра
            
        </p>
        <img src="{% static 'images/schedule.webp' %}" class="img-thumbnail" alt="Демократия мира" style="border: 2px solid blue;">
    </div></a>
    
    <!-- Новость про технологии -->
    <div class="aside-item">
        <h3>Технологии</h3>
        <p>
            <a href="https://example.com/technology" target="_blank">
                Новейшие достижения в технологиях
           
        </p>
        <img src="{% static 'images/teckh.jpeg' %}" class="img-thumbnail" alt="Технологии" style="border: 2px solid green;">
    </div> </a>
    
   
</aside>
{% endblock %}