
{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
{{title}}
{%endblock%}
    {% block coontent %}

    <div class='malert-light'>
                
        
                
                
                   <img src="{{object.poto.url}}"  alt="{{object.avtor}}" class='n_img' >
                   <h4 class='title' align='center'>{{object.title}}</h3>
                   <p>{{object.text}}</p>
                   <div class='row'> 
                    <div>
                        <img src="{{object.adam.profil.img.url}}" alt="{{object.avtor}}" class='us_img'>
                    </div>
                    <div class='mt-2'> 
                        <span class='text-muted'></b>{{object.time}}</span>
                        {%if object.adam%}
                            <p><b>avtor:</b><mark>{{object.adam}}</mark></p>
                              {%else%}
                              <p><b>avtor:</b><mark>admin</mark></p>
                                    {%endif%}
                        </div>
                    </div>
                  
                </div>
{%endblock%}

{% block aside_block %}
<aside class="col-md-4">
    <!-- Новость про демократию мира -->
    <div class="aside-item">
        <h3>Демократия мира</h3>
        <p>
            <a href="https://example.com/democracy" backgroun-color=white target="_blank">
                Последние новости о демократии в мире
            
        </p>
        <img src="{% static 'images/democ.webp' %}" class="img-thumbnail" alt="Демократия мира" style="border: 2px solid blue;">
    </div></a>
    
    <!-- Новость про технологии -->
    <div class="aside-item">
        <h3>Технологии</h3>
        <p>
            <a href="https://example.com/technology" target="_blank">
                Новейшие достижения в технологиях
           
        </p>
        <img src="{% static 'images/teckh.jpeg' %}" class="img-thumbnail" alt="Технологии" style="border: 2px solid green;">
    </div> </a>
    
   
</aside>
{% endblock %}