{% extends 'blog/base.html' %}
{% block title %}
{% load static %}
Вы успешно вышли из акаунта
{%endblock%}
    {% block coontent %}
<h1>Вы успешно вышли из акаунта</h1>
<a href="{%url 'user'%}">
    <button class='btn btn-outline-warning' type='submit'>Войти в личный кабинет снова</button></a>
{%endblock%}
{% block aside_block %}
<aside class="col-md-4">
    <!-- Новость про демократию мира -->
    <div class="aside-item">
        <h3>Демократия мира</h3>
        <p>
            <a href="https://example.com/democracy" backgroun-color=white target="_blank">
                Последние новости о демократии в мире
            
        </p>
        <img src="{% static 'images/democ.webp' %}" class="img-thumbnail" alt="Демократия мира" style="border: 2px solid blue;">
    </div></a>
    
    <!-- Новость про технологии -->
    <div class="aside-item">
        <h3>Технологии</h3>
        <p>
            <a href="https://example.com/technology" target="_blank">
                Новейшие достижения в технологиях
           
        </p>
        <img src="{% static 'images/teckh.jpeg' %}" class="img-thumbnail" alt="Технологии" style="border: 2px solid green;">
    </div> </a>
    
   
</aside>
{% endblock %}