{% extends 'blog/base.html' %}
{% block title %}
Вы успешно вышли из акаунта
{%endblock%}
    {% block coontent %}
<h1>Вы успешно вышли из акаунта</h1>
<a href="{%url 'user'%}">
    <button class='btn btn-outline-warning' type='submit'>Войти в личный кабинет снова</button></a>
{%endblock%}
{% block aside_block %}
<aside class="col-md-4">
    <h3>tomen</h3>
    <p> https://yandex.
        &text=работа
    </p>
       <img href='https://avatars.mds.yandex.net/i?id=18414ae574d384ae84936bf3e22e88cc-5440433-images-thumbs&n=13' class="img-thumbnail">
ewfgasdfasdvasdcf
<h3>tomen</h3>
    <p> https://yandex.k
        &text=раб
    </p>
       <img href='https://avatars.mds.yandex.net/i?id=18414ae574d384ae84936bf3e22e88cc-5440433-images-thumbs&n=13' class="img-thumbnail">
ewfgasdfasdvasdcf
<h3>tomen</h3>
    <p> https://yandex.
        &text=работа
    </p>
       <img href='https://avatars.mds.yandex.net/i?id=18414ae574d384ae84936bf3e22e88cc-5440433-images-thumbs&n=13' class="img-thumbnail">
ewfgasdfasdvasdcf
{%endblock%}